/*----------------- BODY --------------*/
.dark {
    background:#37383C;
}

/*------------- HEADER -------------*/
.dark .list-check, .dark #line {
    background: black;
}

.dark #button-create {
    background-image: url('/images/CTA-crear-gifo-modo-noc.svg');
}

.dark #button-create:hover {
    background-image: url('/images/CTA-crear-gifo-hover-modo-noc.svg');
}

.dark .logo-dark {
    display: block;
}

/*------------- SEARCH --------------*/
.dark .searchmenu, .dark #square-create-gif {
    border: 1px solid white;
}

.dark #icon-search, .dark #close-search, .dark .logo, .dark #burger, 
.dark .button_view__img, .dark #icon-search_active, .dark .fullGif__close, .dark #camara {
    display: none;
}

.dark #icon-search-dark, .dark .button_view__img_noct, .dark #camara-dark, .dark .fullGif__close-dark {
    display: block;
    position: relative;
}

.dark ::placeholder, .dark :-ms-input-placeholder, .dark ::-ms-input-placeholder {
    color: #9CAFC3;
}

.dark .container_lupa_item > img {
    background-image: url("../icons/icon-search-2-noc.jpg");
}

.dark #slider-left {
    background-image: url("../images/button-slider-left-md-noct.svg");
    margin-right: 22px;
}

.dark #slider-right {
    background-image: url("../images/button-slider-right-md-noct.svg");
    margin-left: 22px;
}

.dark #slider-left:hover {
    background-image: url("../images/button-slider-left-hover.svg");
}

.dark #slider-right:hover {
    background-image: url("../images/Button-Slider-right-hover.svg");
}

/*-------------- TRENDINGS -------------*/
.dark #intro, .dark .list-check li a, .dark #title1, .dark #title2 h2, .dark #title3 a, .dark #title4, 
.dark .utimategifos, .dark #title-search-ok, .dark .maximize_user, .dark .maximize_title, .dark #title-crear-h2, 
.dark #title-crear p, .dark #reserved, .dark #compartir, .dark .links i:hover {
    color: white;
}

.dark #gifos {
    background: #222326;
}

.dark .fullGif {
    background: #37383C;
}

.dark .maximize_icon_fav,.dark .maximize_icon_download {
    border: none;
}

/*--------------------- DESKTOP -----------------*/
@media screen and (min-width: 1000px){
    .dark .list-check {
        background: transparent;
    }

    .dark #icon-search-hover {
        top: 12px;
    }
}