@media screen and (min-width: 1000px){

    /*--------------------------MENU ---------------------------------------------------*/

    header {
        margin-left: 10px;
        padding: 20px 5%;
    }

    header img {
        width: 36px;
        height: 36px;
    }

    header nav .menu ul {
        position: relative;
        top: 0;
        right: 0;
        overflow: hidden;
        background: unset;
        height: unset;
    }

    #button-create, #button-create-home {
        display: block;
        position: relative;
        background-repeat: no-repeat;
        right: 2px;
        margin: 0;
        padding: 0;
        width: 54px;
        height: 54px;
    }

    #button-create-home {
        background-image: url('/images/CTA-crear-gifo-active.svg');
    }

    #button-create {
        background-image: url('/images/button-crear-gifo.svg');
    }

    #button-create:hover {
        background-image: url('/images/CTA-crear-gifo-hover.svg');
    }

    #button-create:active {
        background-image: url('/images/CTA-crear-gifo-active.svg');
    }

    .list-check {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    } 

    header nav .menu  ul li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .menu {
        padding-top: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
    }

    header nav .menu ul li a {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #572EE5;
        width: 130px;
        top:0px;
        right: 10px;
    }

    .line {
        display: none;
    }

    header nav .menu span {
        display: none;
    }

    .displaynone, .displayblock {
        display: none;
    }


    /*--------------------------------------------------------------------*/

    #sesion_total {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #container-image-camara {
        display: flex;
        align-items: center;
        width: 100%;
    }

    #camara-image {
        position: relative;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        height: 390px;
        top: 0;
    }

    #camara {
        width: 123px;
        height: 162px;
    }

    #element-luz-camara {
        position: relative;
        width: 91px;
        height: 151px;
        top: 2px;
    }

    #create-image {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        top: 14px;
        left: -6%;

    }

    #square-create-gif {
        border: 1px solid #572EE5;
        width: 688px;
        height: 390px;
        display: flex;
        justify-content: center;
    }

    #container-box {
        position: relative;
        top: 10px;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 80%;
    }

    #box-top, #box-button {
        position: relative;
        width: 100%;
        height: 27px;
        display: flex;
        justify-content: space-between;
    }

    #box-top {
        top: 5%;
    }

    #box-button {
        top: 95%
    }

    #box-1, #box-2, #box-3, #box-4 {
        width: 27px;
        height: 27px;
        margin: 0;
        padding: 0;
        left: 20px;
        top: 20px;
    }

    #box-1 {
        
        border-top: 1px solid #50E3C2;
        border-left: 1px solid #50E3C2;
    }

    #box-2 {
        border-top: 1px solid #50E3C2;
        border-right: 1px solid #50E3C2;
    }

    #box-3 {
        border-left: 1px solid #50E3C2;
        border-bottom: 1px solid #50E3C2;
    }

    #box-4 {
        border-bottom: 1px solid #50E3C2;
        border-right: 1px solid #50E3C2;
    }

    #title-crear {
        top: 30%;
        position: absolute;
        width: 100%;
    }

    .title-crear-h1, .title-crear-h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 25px;
        color: #572EE5;
        text-align: center;
        line-height: 35px;
        margin: 0;
    }

    .title-crear-p1, .title-crear-p2 {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #000000;
        text-align: center;
        line-height: 29px;
        margin: 14px 0;
    }

    #camara-dark {
        display: none;
    }

    #container_test_line_cinta {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #container_test {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 1000px;
        top: 5px;
        left: 50px;
    }
    
    #paso_1, #paso_2, #paso_3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #572EE5;
        text-align: center;
        width: 32px;
        height: 32px;
        border: 1px solid #572EE5;
        border-radius: 27px;
        margin-left: 28px;
    }

    #container_pelicula {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
    }

    #film-dark {
        display: none;
    }

    #line_down {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #line_down_test {
        width: 795.9px;
        height: 5px;
        background: #572EE5;
        border-radius: 5px;
        position: relative;
    }

    #button_rec{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
        position: relative;
        top: 20.1px;
    }

    #button_rec_active{
        border: 1px solid #572EE5;
        background: transparent;
        border-radius: 25px;
        width: 127px;
        height: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #572EE5;
        letter-spacing: 0;
        text-align: center;
        cursor: pointer;
    }

    #button_rec_active:focus {
        outline:0;
    }

}