@font-face {
  font-family: "IBM_Plex_Sans";
  src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf) ;
}

@font-face {
    font-family: "IBM_Plex_Sans_SemiBold";
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf) ;
  }

@font-face {
    font-family: "IBM_Plex_Mono";
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf) ;
}

@font-face {
    font-family: "IBM_Plex_Mono_Medium";
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf) ;
}


/*---------------------------------- FUENTES ----------------------------------------*/

.title-1, #title-2, #title-3, #title-4, #title-5, #title-topicos {
    font-family: 'IBM_Plex_Sans';
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}

button {
    font-family: "IBM_Plex_Mono_Medium";
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}


footer div p, #text-1, #text-2, #text-1-full  {
    font-family: "IBM_Plex_Mono";
    color: #060A24;
    letter-spacing: 0;
}


/*-----------------------------------------------------------------------------------*/


* {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-width: 250px;
}

/*------------------------------------MENU----------------------------------------------*/

header {
    position: relative;
    height: 45px;
    top: 0;
    padding: 10px 5%;
}

header img {
    float: left;
}

header nav {
    float: right;
}

.list-check {
    width: 100%;
    position: absolute;
    top: 45px;
    right: 0;
    overflow: hidden;
    list-style: none;
    background: #0000EC;
    height: 0px;
}

.list-check li {
    position: relative;
}

.list-check li:hover:active {
    background-image: linear-gradient(to right,#00F0B8, #0000FE);
}

.list-check li a {
    display: block;
    position: relative;
    font-family: 'IBM_Plex_Mono', monospace;
    text-decoration: none;
    color: #fff;
    padding: 16px 5%;
    line-height: 28px;

}

#checkbox:checked ~ .list-check {
    height: 240px;
}

#checkbox:checked + header {
    position: relative;
    height: 500px;
}

.menu {
    padding-top: 3px;
}

#checkbox {
    display: block;
    width: 40px;
    height: 32px;
    opacity: 0;
    z-index: 2;
    position: absolute;
}

.span {
    display: block;
    width: 25px;
    height: 2.5px;
    margin-bottom: 6.5px;
    position: relative;
    background: #000;
    z-index: 1;
    transform-origin: 3px 0px;
}

.span:first-child {
    transform-origin: 0% 0%;
}

.span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#checkbox:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, 1px);
}

#checkbox:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#checkbox:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, 0px);
}

/*--------------------------TITULO------------------------------------------------------*/

#content {
    display: block;
    margin-top: 45px;
}

.title-1 {
    margin: 0 16px 0 4.44vw;
    width: 230px;
    font-weight: bold;
}

#line {
    text-decoration:line-through;
}

#text-1 {
    margin: 16px 16px 16px 4.44vw;
}

#text-1-full {
    display: none;
}

.button1 {
    position: relative;
    padding: 36px 0 24px 0;
    left:  4.44vw;
    width: 100px;
}

button {
    background-color: #00F3BB;
    text-align: center;
    max-width: 320px;
    min-width: 200px;
    width: 90vw;
    height: 48px;
    outline: none;  /* eliminar el borde de :active */
}

button:hover:active {
    background-image: linear-gradient(to right,#00F0B8, #0000FE);
    color: #fff;
}

/*---------------------------EPISODIOS-----------------------------------------------------*/

#episodios{
    text-align: center;
    margin-top: 24px;
}

#bg{
    position: relative;
    height: 1253.5px;
    width: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path:  -webkit-polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
    clip-path:  -moz-polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
    clip-path:  -o-polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
    clip-path:  polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
}

#episode {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#title-2 {
    display: flex;
    flex-direction: flex-start;
    margin: 64px 16px 24px 4.44vw;
    color: #fff;
}

#episode-iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spotify {
    width: 100%;
    padding: 0 11px;
    height: 245px;
    max-width: 584px;
}

/*----------------------------NOSOTROS----------------------------------------------*/

#nosotros {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -80px;
}

#image-1-container {
    display: flex;
    justify-content: center;
}

#image1 {
    width: 360px;
    height: 519px;
    max-width: 10px 0;
}

#title-3 {
    margin: 27px 16px 0 4.44vw;
    width: 288px;
    font-weight: bold;
}

#text-2 {
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin: 8px 16px 8px 4.44vw;
}

/*--------------------------ENTREVISTAS---------------------------------------------*/

#entrevistas {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -80px;
}

#title-4 {
    margin: 27px 16px 14px 4.44vw;
    width: 288px;
    font-weight: bold;
}

#images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.images2 {
    min-width: 300px;
    max-width: 100vw;
    height: auto;
}

/*-----------------------------TOPICOS------------------------------------------------*/

#topicos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -80px;
}

#title-topicos {
    width: 288px;
    margin: 48px 16px 24px 4.44vw;
    font-weight: bold;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-container {
    display: flex;
    flex-direction: column;
}

.icons span {
    font-family: "IBM_Plex_Sans_SemiBold";
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    margin: 20px 0px 50px 0px;
    width: 288px;
}

/*----------------------NOVEDADES---------------------------------------------------*/

#novedades{
    position: relative;
    text-align: center;
    top: -80px;
}

#bg-2{
    position: relative;
    height: 341px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}

#int {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-5 {
    position: relative;
    color: #FFFFFF;
    text-align: center;
    margin: 64px 16px 0 16px;
    padding: 0 16px;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0 24px 0;
}

/*---------------------------------FOOTER-------------------------------------------*/

footer div {
    position: relative;
    top: -80px;
    display: flex;
    justify-content: center;
    margin: 24px 0 16px 0;
}

footer div p {
    font-size: 14px;
    line-height: 22px;
}

#icons-2{
    display: flex;
    justify-content: space-around;
    margin: 16px 32px 0 32px;
}

.links {
   color: #000;
   text-decoration:none;
   font-size: 20px;
}

.links:hover {
    color: #008000;
}

.links:active {
    color: #FF0000;
}

/*------------------------------------------------------------------------------------*/


@media screen and (min-width: 1000px){

    /*--------------------------MENU ---------------------------------------------------*/

    header {
        margin-left: 10px;
        padding: 20px 5%;
    }

    header img {
        width: 36px;
        height: 36px;
    }

    header nav .menu ul {
        position: relative;
        top: 0;
        right: 0;
        overflow: hidden;
        background: unset;
        height: unset;
    }

    header nav .menu  ul li {
        padding: 5px 1.94vw;
        display: inline-block;
    }

    header nav .menu  ul li:hover {
        background: unset;
        color:#00F3BB;
    }

    header nav .menu ul li:hover:active {
        background: unset;
        color: #979797;
    }

    .menu a {
        display: block;
    }

    header nav .menu ul li a {
        padding: unset;
        line-height: unset;
        font-family: "IBM_Plex_Mono";
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
    }

    header nav .menu  ul li a:hover {
        color: unset;
        text-decoration:line-through;
    }

    header nav .menu input {
        display: none;
    }

    header nav .menu span {
        display: none;
    }



    /*--------------------------TITULO------------------------------------------------------*/

    .title-1 {
        width: 100%;
        height: 84px;
        font-size: 64px;
        margin: 120px 0 0 13.889vw;
    }

    #punto {
        color: #00f;
    }

   #text-1 {
        display: none;
    }

    #text-1-full {
        display: block;
        width: 628px;
        margin: 16px 13.889vw;
        font-size: 16px;
        line-height: 24px;
    }

    button {
        width: 266px;
        height: 56px;
    }

    .button1 {
        position: relative;
        justify-content: flex-start;
        left: 13.889vw;
    }

    button:hover {
        background-image: linear-gradient(to right,#00F0B8, #0000FE);
        color: #fff;
    }

    /*---------------------------EPISODIOS-----------------------------------------------------*/

    #bg {
        clip-path:  -webkit-polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
        clip-path:  -moz-polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
        clip-path:  -o-polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
        clip-path:  polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
        height: 1042px;
    }

    #episodios{
        margin-top: -15px;
        width: 100%;
    }

    #episode {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    #title-2 {
        position: relative;
        margin: unset;
        left: 10px;
        top: -10px;
        left: 13.889vw;
        font-size: 48px;
        height: 62px;
        width: 100%;
    }

    #episode-iframe {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90.27vw;
    }

    .spotify {
        max-width: 40.55555555555556vw;
        padding: 0 11px;
        height: 232px;
        margin: 42px 20px;
    }

    /*---------------------NOSOTROS-----------------------------------------------------*/

    #nosotros {
        position: relative;
        flex-direction: row;
        top: -170px;
    }

    #image1 {
        position: relative;
        width: 457px;
        height: 660px;
    }

    #nosotros-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        margin-left: 4.375vw;
    }

    #title-3 {
        margin: unset;
        font-size: 48px;
        width: 430px;
        height: 62px;
    }

    #text-2 {
        margin: unset;
        font-size: 16px;
        line-height: 24px;
        width: 464px;
    }

    /*--------------------------ENTREVISTAS---------------------------------------------*/

    #entrevistas {
        position: relative;
        top: -80px;
    }

    #images-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    #title-4 {
        position: relative;
        left: 13.889vw;
        font-size: 48px;
        margin: 36px 0;
        width: 481px;
        height: 62px;
    }

    .images2 {
        width: 33vw;
        /* height: 45vh; */
        height: auto;
    }

    /*-----------------------------TOPICOS------------------------------------------------*/

    #topicos {
        top: 0;
    }

    #title-topicos {
        position: relative;
        left: 13.889vw;
        font-size: 48px;
        width: 586px;
        bottom: 63px;
    }

    .icons {
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        width: 75%;
        left: 12.5vw;
    }

    .icons span {
        font-size: 24px;
        margin: 30px 0px 50px 0px;
        width: 220px;
    }

    /*------------------------------NOVEDADES-------------------------------------------*/

    #novedades{
        position: relative;
        text-align: center;
        top: -20px;
        height: 518px;
    }

    #bg-2{
        clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
        height: 100%;
    }

    #int {
        position: relative;
        top: 40px;
        justify-content: center;
        align-items: center;
        height: 100%;    }

    #title-5 {
        font-size: 48px;
    }

    .button2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 36px 0 24px 0;
    }

    .button2 button {
        width: 345px;
        height: 56px;
    }

    /*---------------------------------FOOTER-------------------------------------------*/

    footer {
        position: relative;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: unset;
    }

    footer div {
        position: relative;
        top: 0;
        display: flex;
        justify-content: center;
        margin: unset;
    }

    footer div p {
        font-size: 16px;
        line-height: 28px;
        width: 269px;
        margin-left: 100px;
    }

    #icons-2{
        justify-content: space-between;
        align-items: flex-end;
        width: 269px;
        margin: 0 100px 30px 0;
    }

    .links {
        font-size: 20px;
        margin: unset;
    }

}