body {
    margin: 0;
    padding: 0;
    height:0;
 }

#line {
    height: 5px;
    background: #572EE5;
}

header {
    position: relative;
    height: 45px;
    top: 0;
    padding: 10px 5%;
}

.logo {
    position: relative;
    float: left;
    top: 29px;
    height: 48px;
    width: 48px;
    left: 22px;
}

header nav {
    float: right;
}

#button-create {
    display: none;
}

.list-check {
    width: 100%;
    position: absolute;
    top: 90px;
    right: 0;
    overflow: hidden;
    list-style: none;
    background: rgba(87,46,229,0.90);
    height: 0px;
}

header nav .menu  ul li {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav .menu ul li a {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    size: 15px;
    color: #fff;
    padding: 24px 5%;
    line-height: 10px;
    display: block;
    text-align: center;
    top: 7px;
}

.line {
    width: 41px;
    opacity: 0.5;
    border: 1px solid #FFFFFF;
}


#checkbox:checked ~ .list-check {
    height: 484px;
}

.menu {
    padding-top: 47px;
}

/*checkbox transparente y en primer plano*/
#checkbox {
    display: block;
    width: 20px;
    height: 20px;
    right: 43px;
    top: 50px;
    opacity: 0;
    z-index: 2;
    position: absolute;
}

#burger {
    position: absolute;
    right: 48px;
}

#close {
    position: absolute;
    right: 48px;
}

.displaynone {
    display: none;
}

.displayblock {
    display: block;
}

/* ----- MISGIFOS ----- */

#misgifos {
    position: relative;
    display: flex;
    justify-content: center;
    top: 40px;
    height: 99px;
    width: 100%;
}

#title1 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 33px;
    height: 99px;
    width: 270px;
    margin: 0;
    z-index: -1;
    /* padding: 0 30px; */
}

#span1 {
    color: #50E3C2;
}

/* SEARCH */

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 71px;
    z-index: -1;
}

#friend {
    width: 273px;
    height: 130px;
}

#searchmenu {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 334px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 27px;
    border-radius: 27px;
}

#intro {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
    /* background: transparent; */
    border: 0;
    outline: none;
    width: 215px;
    height: 22px;
}

#icon-search {
    position: relative;
    right: 20px;
}

#close-search {
    display: none;
    position: relative;
    right: 25px;
}

/* ----- CONTAINER1 ----- */

#container1 {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

#title2 {
    width: 236px;
    height: 25px;
}

#title3 {
    width: 225px;
    height: 50px;
    text-align: center;
    margin-bottom: 30px;
}

#title2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    margin: 0;
}

#setinput{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    margin: 0;
    text-decoration:none;
}

#without-result {
    top: 54px;
    height: 450px;
    margin-bottom: 149px;
    flex-direction: column;
    justify-content:space-between;
}

#line-result, #linea-search-ok {
    width: 23.472vw;
    opacity: 0.5;
    border: 1px solid #9CAFC3;
}

#title-search {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    top: 28.5px;
    margin: 0;
}

#title-search-ok {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    width: 550px;
    height: 30px;
    margin-top: 20px;
}

#icon-without-result {
    top: 109px;
    width: 150px;
    height: 150px;
}

#another-search {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 25px;
    top: 50px;
}

#without-result, #icon-without-result, #line-result, #another-search, #title-search {
    position: relative;
    align-items: center;
}

.display {
    display: none;
}

#result-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 50px;
}

.square_gif {
    position: relative;
    width: 156px;
    height: 120px;
    margin: 0 20px 20px 0;
    color: #ffffff;
    user-select: none;
    z-index: 1;
}

.container_gif {
    position: relative;
    display: inline-block;
}

.container_gif:hover #cuadro {
    position: absolute;
    opacity: 0.7;
    background-color: #572EE5;
    width: 156px;
    height: 120px;
    top: 0;
    z-index: 1;
}

#gifUser, #gifTitle, .favorite_normal, .download_normal, .max_normal {
    display: none;
}

.container_gif:hover #gifUser {
    display: block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    margin: 0;
    top: 50%;
    left: 10px;
    width: 96px;
    height: 17px;
    z-index: 2;
}

.container_gif:hover #gifTitle {
    display: block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 8px;
    color: white;
    margin: 0;
    width: 130px;
    top: 65%;
    left: 10px;
    z-index: 2;
}

.favorite_normal, .download_normal, .max_normal, .favorite_hover, .download_hover, .max_hover{
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 18px 16px;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    z-index: 2;
    top: 10px;
}

.container_gif:hover .favorite_normal {
    background-image: url('/icons/icon-fav.svg');
    right: 75px;
}

.container_gif:hover .download_normal {
    background-image: url('/icons/icon-download.svg');
    right: 50px;
}

.container_gif:hover .max_normal {
    background-image: url('/icons/icon-max-normal.svg');
    right: 25px;
}

.container_gif:hover > .favorite_normal:hover {
    background-image: url('/icons/icon-fav-hover.svg');
    right: 75px;
}

.container_gif:hover > .download_normal:hover {
    background-image: url('/icons/icon-download-hover.svg');
    right: 50px;
}

.container_gif:hover > .max_normal:hover {
    background-image: url('/icons/icon-max-hover.svg');
    right: 25px;
}

.favorite_add {
    position: absolute;
    opacity: 0.7;
    background: #FFFFFF;
    background-image: url('/icons/icon-fav-active.svg');
    background-repeat: no-repeat;
    background-size: 11px 9px;
    background-position: center;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    z-index: 2;
    top: 10px;
    right: 75px;
    border-radius: 3px;
}

/* ----- GIFOS ----- */

#gifos {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 145px;
    width: auto;
    height: 430px;
    background: #F3F5F8;
    z-index: -1;
}

#title4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    position: relative;
    margin: 0;
    top: 46px;
}

.utimategifos {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;
    position: relative;
    margin: 0;
    top: 57px;
    width: 333px;
    height: 46px;
}

#container-gif {
    position: relative;
    display: flex;
    top: 100px;
}

#createImg {
    position:relative;
    display:flex;
    /* top: 87px; */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 80vw;
    /* overflow: hidden; */
}

.square {
    display: inline-block;
    width: 243px;
    height: 187px;
    margin-right: 20px;
    color: #ffffff;
    user-select: none;
}

.container-slider {
    display: flex;
    align-items: center;
}



/* ----- FOOTER ----- */

#footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 145px;
    height: 196px;
}

#compartir {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    position: relative;
    margin: 0;
    top:47px;
}

#icons a{
    text-decoration:none;
    margin: 0 19px 0 3px;
    width: 18px;
    height: 18px;
    color: #CDD6E0;
    position: relative;
    top: 67px
}

#reserved {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    top: 97.8px;
}



/* --------------------------------- DESKTOP ----------------------------------------------*/

@media screen and (min-width: 1000px){

    /*--------------------------MENU ---------------------------------------------------*/

    header {
        margin-left: 10px;
        padding: 20px 5%;
    }

    header img {
        width: 36px;
        height: 36px;
    }

    header nav .menu ul {
        position: relative;
        top: 0;
        right: 0;
        overflow: hidden;
        background: unset;
        height: unset;
    }

    #button-create {
        display: block;
        position: relative;
        right: 2px;
        margin: 0;
        padding: 0;
        width: 54px;
        height: 54px;
    }

    .list-check {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    } 

    header nav .menu  ul li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    header nav .menu  ul li {
        display: inline-block;
    }

    .menu {
        padding-top: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
    }

    .menu a {
        display: block;
    }   

    header nav .menu ul li a {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #572EE5;
        width: 130px;
        top:0px;
        right: 10px;
    }

    .line {
        display: none;
    }

    header nav .menu span {
        display: none;
    }

    .displaynone, .displayblock {
        display: none;
    }

    /* ----------------------------- CONTAINER1 --------------------------------- */

    .square_gif {
        width: 260px;
        height: 200px;
        margin: 0 29px 29px 0;
    }

    .container_gif:hover #cuadro {
        width: 260px;
        height: 200px;
    }

    .container_gif:hover #gifUser {
        font-size: 15px;
        width: 96px;
        height: 17px;
    }
    
    .container_gif:hover #gifTitle {
        font-size: 16px;
        width: 234px;
        height: 40px;
    }
    
    .favorite_normal, .download_normal, .max_normal, .favorite_hover, .download_hover, .max_hover{
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 32px;
        width: 32px;
        height: 32px;
        margin: 0;
        padding: 0;
        z-index: 2;
        top: 10px;
    }

    .container_gif:hover .favorite_normal {
        right: 125px;
    }
    
    .container_gif:hover .download_normal {
        right: 82px;
    }
    
    .container_gif:hover .max_normal {
        right: 40px;
    }
    
    .container_gif:hover > .favorite_normal:hover {
        right: 125px;
    }
    
    .container_gif:hover > .download_normal:hover {
        right: 82px;
    }
    
    .container_gif:hover > .max_normal:hover {
        right: 40px;
    }


    /* -------------------------------- GIFOS ------------------------------------- */

    #createImg {
        overflow: hidden;
    }

    #slider-left , #slider-right{
        width: 40px;
        height: 40px;  
    }
    
    #slider-left {
        background-image: url("../images/button-slider-left.svg");
        margin-right: 22px;
    }
    
    #slider-right {
        background-image: url("../images/Button-Slider-right.svg");
        margin-left: 22px;
    }
    
    #slider-left:hover {
        background-image: url("../images/button-slider-left-hover.svg");
    }
    
    #slider-right:hover {
        background-image: url("../images/Button-Slider-right-hover.svg");
    }

}