.displaynone {
    display: none;
}

.displayblock {
    display: block;
}


body {
    margin: 0;
    padding: 0;
    height:0;
 }

#line {
    height: 5px;
    background: #572EE5;
}

header {
    position: relative;
    height: 45px;
    top: 0;
    padding: 10px 5%;
    /* z-index: -1; */
}

.logo {
    position: relative;
    float: left;
    top: 29px;
    height: 48px;
    width: 48px;
    left: 22px;
}

header nav {
    float: right;
}

#button-create {
    display: none;
}

.list-check {
    width: 100%;
    position: absolute;
    top: 90px;
    right: 0;
    overflow: hidden;
    list-style: none;
    background: rgba(87,46,229,0.90);
    height: 0px;
}

header nav .menu  ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav .menu ul li a {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    size: 15px;
    color: #fff;
    padding: 24px 5%;
    line-height: 10px;
    display: block;
    text-align: center;
    top: 7px;
}

.line {
    width: 41px;
    opacity: 0.5;
    border: 1px solid #FFFFFF;
}


#checkbox:checked ~ .list-check {
    height: 484px;
}

.menu {
    padding-top: 47px;
}

/*checkbox transparente y en primer plano*/
#checkbox {
    display: block;
    width: 20px;
    height: 20px;
    right: 43px;
    top: 50px;
    opacity: 0;
    z-index: 2;
    position: absolute;
}

#burger {
    position: absolute;
    right: 48px;
}

#close {
    position: absolute;
    right: 48px;
}

/* --------------------------------- MISGIFOS -------------------------------------- */

#misgifos {
    position: relative;
    display: flex;
    justify-content: center;
    top: 40px;
    height: 99px;
    width: 100%;
}

#title1 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 33px;
    height: 99px;
    width: 270px;
    margin: 0;
    z-index: -1;
}

#span1 {
    color: #50E3C2;
}

/* ---------------------------------- SEARCH ------------------------------------- */

#container_misgifos {
    position: relative;
    height: auto;
    z-index: -1;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 71px;
    z-index: -1;
    height: 100%;
}

#friend {
    width: 273px;
    height: 130px;
}

.searchmenu {
    position: relative;
    width: 334px;
    background: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 27px;
}

.searchmenu__container{
    position: relative;
    display: flex;
    align-items:flex-start;
    justify-content:space-around;
    width: 334px;
    height: 40px;
    top: 15px;
}

#intro {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
    border: 0;
    outline: none;
    width: 215px;
    height: 22px;
    list-style: none;
}

#icon-search {
    position: relative;
    right: 0;
}

#icon-search_active {
    display: none;
    position: relative;
    width: 20px;
    height: 20px;
}

.container_lupa_item {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 20px;
}

#close-search {
    display: none;
    position: relative;
    right: 5px;
}

.searchAutocomplete, .container_lupa_item__item {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #9CAFC3;
    text-align: left;
    list-style: none;
}

.container_lupa_item__item {
    text-decoration: none;
}

.fullGif {
    align-items: center;
    background: white;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.show {
    display: flex;
    justify-content: center;
}

.fullGif .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 318px;
    height: 245px;
    top: -30px;
    /* left: 5%; */
}

.maximize_img {
    width: 100%;
    height: 100%;
}

.fullGif_container_close {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 30px;
    height: 500px;
    top: -50px
}

.fullGif__close {
    position: relative;
    /* left: 5px;
    top: -27%; */
    width: 15.8px;
    height: 15.8px;
    cursor: pointer;
    z-index: 2;
}

.content_img {
    width: 318px;
    height: 245px;
}

.maximize_user {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000000;
    text-align: left;
}

.maximize_title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
    margin: 0;
}

.maximize_icon_fav, .maximize_icon_download {
    position: relative;
    width: 36px;
    height: 36px;
    border: 1px solid #CED7E1;
    border-radius: 6px;
    margin-right: 5px;
}

.maximize_user_title_img {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.maximize_user_title {
    width: 50%;
}

.maximize_user_title__img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.maximize_icon_fav:hover, .maximize_icon_download:hover {
    border: 2px solid #CED7E1;
}

.button_view {
    position: relative;
    display: none;
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100px;
    top: 40px;
}

.button_view:focus {
    outline:0;
}


.button_view__img {
    display: none;
}

.button_view__img, .button_view__img_hover, .button_view__img_noct, .button_view__img_noct_hover {
    display: none;
    cursor: pointer;
}

.button_view_active {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------ CONTAINER1 ------------------------------------------ */

#container1 {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -2;
}

#title2 {
    width: 236px;
    height: 25px;
}

#title3 {
    width: 225px;
    height: 50px;
    text-align: center;
    margin-bottom: 30px;
}

#title2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    margin: 0;
}

#setinput{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    margin: 0;
    text-decoration:none;
}

#without-result {
    top: 54px;
    height: 450px;
    margin-bottom: 149px;
    flex-direction: column;
    justify-content:space-between;
}

#line-result, #linea-search-ok {
    width: 23.472vw;
    opacity: 0.5;
    border: 1px solid #9CAFC3;
}

#title-search {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    top: 28.5px;
    margin: 0;
}

#title-search-ok {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 40px;
    width: 250px;
    height: 30px;
    margin-top: 20px;
}

#icon-without-result {
    top: 109px;
    width: 150px;
    height: 150px;
}

#another-search {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 25px;
    top: 50px;
}

#without-result, #icon-without-result, #line-result, #another-search, #title-search {
    position: relative;
    align-items: center;
}

.display {
    display: none;
}

.result-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 50px;
    z-index: -1;
    left: 10px;;
}

.square_gif {
    position: relative;
    width: 156px;
    height: 120px;
    margin: 0 20px 20px 0;
    color: #ffffff;
    user-select: none;
}

.container_gif {
    position: relative;
    display: inline-block;
    z-index: -1;
}

.container_gif:hover #cuadro {
    position: absolute;
    opacity: 0.7;
    background-color: #572EE5;
    width: 156px;
    height: 120px;
    top: 0;
    z-index: 1;
}

#gifUser, #gifTitle, .favorite_normal, .download_normal, .max_normal {
    display: none;
}

.container_gif:hover #gifUser {
    display: block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    margin: 0;
    top: 50%;
    left: 10px;
    width: 96px;
    height: 17px;
    z-index: 2;
}

.container_gif:hover #gifTitle {
    display: block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 8px;
    color: white;
    margin: 0;
    width: 130px;
    top: 65%;
    left: 10px;
    z-index: 2;
}

.favorite_normal, .download_normal, .max_normal, .favorite_hover, .download_hover, .max_hover{
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 18px 16px;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    z-index: 2;
    top: 10px;
}

.container_gif:hover .favorite_normal {
    background-image: url('/icons/icon-fav.svg');
    right: 75px;
}

.container_gif:hover .download_normal {
    background-image: url('/icons/icon-download.svg');
    right: 50px;
}

.container_gif:hover .max_normal {
    background-image: url('/icons/icon-max-normal.svg');
    right: 25px;
}

.container_gif:hover > .favorite_normal:hover {
    background-image: url('/icons/icon-fav-hover.svg');
    right: 75px;
}

.container_gif:hover > .download_normal:hover {
    background-image: url('/icons/icon-download-hover.svg');
    right: 50px;
}

.container_gif:hover > .max_normal:hover {
    background-image: url('/icons/icon-max-hover.svg');
    right: 25px;
}

.favorite_add {
    position: absolute;
    opacity: 0.7;
    background: #FFFFFF;
    background-image: url('/icons/icon-fav-active.svg');
    background-repeat: no-repeat;
    background-size: 11px 9px;
    background-position: center;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    z-index: 2;
    top: 10px;
    right: 75px;
    border-radius: 3px;
}

/* --------------------------------- GIFOS ------------------------------------------ */

#gifos {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 145px;
    width: auto;
    height: 330px;
    background: #F3F5F8;
    z-index: -1;
}

#title4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    position: relative;
    margin: 0;
    top: 46px;
}

.utimategifos {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;
    position: relative;
    margin: 0;
    top: 57px;
    width: 333px;
    height: 46px;
}

#container-gif {
    position: relative;
    display: flex;
    top: 100px;
    z-index: -1;
}

#createImg {
    position:relative;
    display:flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 60vw;
    z-index: -1;
}

.square {
    display: inline-block;
    width: 243px;
    height: 187px;
    margin-right: 20px;
    color: #ffffff;
    user-select: none;
    position: relative;
}

.container-slider {
    display: flex;
    align-items: center;
}



/* --------------------------------- FOOTER -------------------------------------- */

#footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 145px;
    height: 196px;
    z-index: -1;
}

#compartir {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    position: relative;
    margin: 0;
    top:47px;
}

#icons a{
    text-decoration:none;
    margin: 0 19px 0 3px;
    width: 18px;
    height: 18px;
    color: #CDD6E0;
    position: relative;
    top: 67px
}

#reserved {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    top: 97.8px;
}

.links i:hover {
    color: #572EE5;
}

/* --------------------------------------------------- DESKTOP --------------------------------------------------------------*/

@media screen and (min-width: 1000px){

    /*--------------------------MENU ---------------------------------------------------*/

    header {
        margin-left: 10px;
        padding: 20px 5%;
    }

    header img {
        width: 36px;
        height: 36px;
    }

    header nav .menu ul {
        position: relative;
        top: 0;
        right: 0;
        overflow: hidden;
        background: unset;
        height: unset;
    }

    #button-create, #button-create-home {
        display: block;
        position: relative;
        background-repeat: no-repeat;
        right: 2px;
        margin: 0;
        padding: 0;
        width: 54px;
        height: 54px;
    }

    #button-create-home {
        background-image: url('/images/CTA-crear-gifo-active.svg');
    }

    #button-create {
        background-image: url('/images/button-crear-gifo.svg');
    }

    #button-create:hover {
        background-image: url('/images/CTA-crear-gifo-hover.svg');
    }

    #button-create:active {
        background-image: url('/images/CTA-crear-gifo-active.svg');
    }

    .list-check {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    header nav .menu  ul li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .menu {
        padding-top: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
    }

    header nav .menu ul li a {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #572EE5;
        width: 130px;
        top:0px;
        right: 10px;
    }

    .line {
        display: none;
    }

    header nav .menu span {
        display: none;
    }

    .displaynone, .displayblock {
        display: none;
    }

    /* ----------------------------------- MISGIFOS --------------------------------------------- */

    #title1 {
        font-size: 35px;
        line-height: 50px;
        height: 100px;
        width: 600px;
    }

    #friend {
        width: 399px;
        height: 190px;
    }

   .searchmenu {
        width: 551px;
        /*height: 54px;*/

    }

    .searchmenu__container {
        position: relative;
        width: 551px;
        top: 5px;
    }

    #intro, #icon-search_active, #icon-search, #close-search {
        top: 15px;
    }

    #intro {
        position: relative;
        left: -50px;
        background-color: transparent;
        top: 10px;
    }

    .container_lupa_item {
        width: 270px;
        height: 30px;
    }

    .searchAutocomplete {
        position: relative;
        /* left: -110px;*/
        top: 0px;
        padding-left: 50px;
    }

    .searchAutocomplete li {
        width: 210px;
        height: 22px;
    }

    .searchAutocomplete img {
        cursor: pointer;
        width: 15.8px;
        height: 15.8px;
        left: -20px;
    }

    /* ----------------------------- CONTAINER1 --------------------------------- */

    #title2 h2 {
        font-size: 18px;
        line-height: 25px;
    }

    #title-search-ok {
        font-size: 55px;
        line-height: 30px;
        width: 550px;
        height: 30px;
        margin-top: 20px;
    }

    #setinput{
        font-size: 16px;
    }

    .square_gif {
        position: relative;
        width: 260px;
        height: 200px;
        margin: 0 29px 29px 0;
        z-index: -1;
    }

    .container_gif:hover #cuadro {
        width: 260px;
        height: 200px;
    }

    .container_gif:hover #gifUser {
        font-size: 15px;
        width: 96px;
        height: 17px;
    }

    .container_gif:hover #gifTitle {
        font-size: 16px;
        width: 234px;
        height: 40px;
    }

    .favorite_normal, .download_normal, .max_normal, .favorite_hover, .download_hover, .max_hover{
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 32px;
        width: 32px;
        height: 32px;
        margin: 0;
        padding: 0;
        z-index: 2;
        top: 10px;
    }

    .container_gif:hover .favorite_normal {
        right: 125px;
    }

    .container_gif:hover .download_normal {
        right: 82px;
    }

    .container_gif:hover .max_normal {
        right: 40px;
    }

    .container_gif:hover > .favorite_normal:hover {
        right: 125px;
    }

    .container_gif:hover > .download_normal:hover {
        right: 82px;
    }

    .container_gif:hover > .max_normal:hover {
        right: 40px;
    }

    /*--------------------------------- SEARCH -------------------------------------*/

    .content_img {
        width: 100%;
        height: 100%;
    }

    .fullGif {
        justify-content: center;
        left: -10px;
    }

    .fullGif .content {
        width: 695px;
        height: 385px;
        top: -30px;
    }

    .maximize_img {
        width: 100%;
        height: 100%;
    }

    .fullGif__close {
        /* left: 96px;
        top: -35%; */
        width: 15.8px;
        height: 15.8px;
    }

    .maximize_icon_fav, .maximize_icon_download {
        position: relative;
        width: 36px;
        height: 36px;
        border-radius: 6px;
        margin-right: 20px;
        z-index: 2;
    }

    /* -------------------------------- GIFOS ------------------------------------- */

    #gifos {
        height: 430px;
    }

    #createImg {
        overflow: hidden;
    }

    #slider-left , #slider-right{
        width: 40px;
        height: 40px;
    }

    #slider-left {
        background-image: url("../images/button-slider-left.svg");
        margin-right: 22px;
    }

    #slider-right {
        background-image: url("../images/Button-Slider-right.svg");
        margin-left: 22px;
    }

    #slider-left:hover {
        background-image: url("../images/button-slider-left-hover.svg");
    }

    #slider-right:hover {
        background-image: url("../images/Button-Slider-right-hover.svg");
    }

    /* --------------------------------- FOOTER -------------------------------------- */

    #footer {
        position: relative;
        flex-direction:row;
        align-items: center;
        top: 145px;
        height: 121px;
    }

    #container-compartir-href {
        position: relative;
        display: flex;
        flex-direction: row;
        width:80%;
        left: 10vw;
    }

    #compartir {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
        position: relative;
        margin-right: 30px;
        top:0px;
    }

    #icons a{
        text-decoration:none;
        margin: 0 19px 0 3px;
        width: 18px;
        height: 18px;
        color: #CDD6E0;
        position: relative;
        top: 0px
    }

    #reserved {
        font-size: 13px;
        top: 0px;
        width: 200px;
        right: 158px;
    }
}